/*--------------------------------------------------------------
# agencies
--------------------------------------------------------------*/
.agencies {
    overflow: hidden;
  }
  
  .agencies .swiper-slide {
    transition: 0.3s;
  }
  
  .agencies .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .agencies .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5777ba;
  }
  
  .agencies .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5777ba;
  }
  
  .agencies .swiper-slide-active {
    text-align: center;
  }
  
  @media (min-width: 992px) {
    .agencies .swiper-wrapper {
      padding: 40px 0;
    }
    .agencies .swiper-slide-active {
      padding: 4px;
      background: #fff;
      z-index: 1;
      transform: scale(1.2);
      margin-top: 10px;
      border-radius: 25px;
    }
  }
  
  .countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    color: #133272;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
  }

  .countdown div:before {
    content: '';
    position: absolute;
   bottom: -30px;
   left: 0;
   width: 100%;
   height: 35px;
   background: rgba(255, 255, 255, 0.12);
   color: #333;
   font-size: 0.35em;
   line-height: 35px;
   font-weight: 300;
  }

  .countdown #day:before{
    content: 'Days';
  }
  .countdown #hour:before{
    content: 'Hours';
  }
  .countdown #minute:before{
    content: 'Minutes';
  }
  .countdown #second:before{
    content: 'Seconds';
  }